<header>
    <div>

    </div>
    <div>
        <p>worry</p>
    </div>
    <div>
        <div>
            <img src="/images/person.png" alt="">
        </div>
        <div>
            <p id="userNameC">Null</p>
        </div>
    </div>
</header>